@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2188FF;
  --secondary: #17192D;
  --background: #ffffff;
  --blue-900: #023B78;
  --gray-950: #24292F;
  --gray-600: #77818C;
  --gray-300: #88929C;
  --gray-200: #D8DFE6;
  --success: #52C41A;
  --error: #ED3833;
}


body {
  color: var(--gray-950);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
